global:
  scrape_interval: 10s

scrape_configs:
  - job_name: '${HOSTNAME}'
    static_configs:
      - targets: ['vmagent:8429', 'node-exporter:9100', 'cadvisor:8080', 'endlessh:2112']
  - job_name: 'Grafana_VictoriaMetrics'
    static_configs:
      - targets: ['victoriametrics:8428', 'grafana:3000']
